/* Custom CSS */

$primary-color: #01294d;
$secondary-color: #980000;

body {
  background-color: #eee;
}

.cross-logo {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.right-padding {
  padding-right: 20px;
}

.add-tab {
  background-color: lightgrey !important;
  &:active {
    background-color: grey !important;
  }
}

#infopane {
  margin-top: 8px;
}

.inner {
  background-color: #2cbbb5 !important;
}

.collection-item {
  cursor: pointer;

  &:hover {
    background-color: lightgrey !important;
  }

  &:active {
    background-color: grey !important;
  }


}

.selected {
  background-color: grey !important;
}

.info-body {
  margin-top: 15px;
  //height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}

.split-left {
  margin-right: 20px;
  width: 50%;
}

.split-right {
  margin-left: 20px;
  width: 50%;
}

.panel {
  flex-basis: 48%;
}

.panel-large {
  flex-basis: 100%;
}

.streak {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.half {
  width: 50%;
  //display: inline !important;
}